<div class="bg-img">
  <div class="container">
    <div class="row">
      <div class="card card-img">
        <div class="card-header cursive text-right">
          <h1>Slot Booking Assistant</h1>
        </div>
        <div class="card-body">
          <h1  class="text-left cursive">Welcome,</h1>
          <h5 class="text-left"><p>&emsp;Slot Booking Assistant is a full-fledged online event booking system that will assist 
            you to book Classrooms, Auditoriums and Conference Rooms at particular timeslots for your events or lectures. It has 
            simple user interface and administration page that gives you the ability to send a request containing details of your
            event to the Admin. Admin has the authority to accept/deny the events according to the preference. All the wonderful 
            events happening at what place and at what time, is displayed in your calender. All the history of your past events is 
            maintaind in this. Let us assist you with your event bookings.</h5><h3 class="cursive text-center">Hope you like it!!:)</h3>
          <a href="/login" class="btn btn-warning text-center">Let's Login!</a>
        </div>
    </div>
  </div>
</div>
</div>
   
  
  
  
  